<% layout('layouts/boilerplate')%>
<!-- <div id="cluster-map"></div> -->
<div class="container">
    <h1>All Pets</h1>
    <a class="btn btn-success mb-2" href="/pets/new">Register a pet</a>
    <% for (let pet of pets){%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <%if(pet.images.length) {%>
                <img class="img-fluid" alt="" src="<%=pet.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/mayanhavoc/image/upload/v1600103881/PetShelter/lz8jjv2gyynjil7lswf4.png">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= pet.title %> </h5>

                    <p class="card-text"><%= pet.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= pet.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/pets/<%=pet._id%>">View <%=pet.name%></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
</div>
<script>
    const mapBoxToken = '<%-process.env.MAPBOX_TOKEN%>';
    const pets = { features: <%- JSON.stringify(pets) %> };
</script>

<script src="/javascripts/clusterMap.js"></script>